.main-container{
    background-color:plum;
    background-size: cover;
    height:100vh;
    width:100vw;

}


h1{
    font-size: 40px;
    font-weight: bold;
    padding :10px;
    color:brown;
    
}


button{
    width:120px;
    height:40px;
    border-radius: 7px;
    border-width: 2px;
    border-color:black;
    padding:5px;
    margin:5px;
    color:black;
    font-weight: bold;
    text-align: center;

}

p{
    font-size: 80px;
    font-weight: bold;
    text-align: center;
}